<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/foot.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUUJI</title>
  </head>
  <body>
    <div class="foot">
      <div class="menu1">
        <div class="texts">
          <h5>고객 관리</h5>
          <hr />
          <p onclick="showAlert()">FAQ</p>
          <p onclick="showAlert()">고객 지원</p>
          <p onclick="showAlert()">문의</p>
          <p onclick="showAlert()">매장 찾기</p>
        </div>

        <div class="texts">
          <h5>회사 정책</h5>
          <hr />
          <p onclick="showAlert()">접근성</p>
          <p onclick="showAlert()">위조</p>
          <p onclick="showAlert()">Cookie Settings</p>
          <p onclick="showAlert()">쿠키</p>
          <p onclick="showAlert()">개인 정보 정책</p>
          <p onclick="showAlert()">이용 약관</p>
        </div>

        <div class="texts">
          <h5>회사 소개</h5>
          <hr />
          <p onclick="showAlert()">Sustainability</p>
          <p onclick="showAlert()">투자자 정보</p>
          <p onclick="showAlert()">구인 정보</p>
          <p onclick="showAlert()">보도 자료</p>
          <p onclick="showAlert()">Custom Integration</p>
          <p onclick="showAlert()">매장 가맹 신청</p>
          <p onclick="showAlert()">문의</p>
        </div>

        <div class="texts">
          <h5>SOCIAL LINKS</h5>
          <hr />
          <p onclick="showAlert()">Facebook</p>
          <p onclick="showAlert()">Instagram</p>
          <p onclick="showAlert()">Linkedin</p>
          <p onclick="showAlert()">X</p>
          <p onclick="showAlert()">Youtube</p>
          <p onclick="showAlert()">Tictok</p>
          <p onclick="showAlert()">Pinterest</p>
        </div>

        <div class="texts">
          <h5>DOWNLOAD OUR APPS</h5>
          <hr />
          <p onclick="showAlert()">앱 살펴보기</p>
        </div>
      </div>

      <div class="bottom">
        <p>© Bang & Olufsen 2025</p>
        <p>코오롱모빌리티그룹㈜</p>
        <p>
          사업장 주소: 경기도 안양시 동안구 평촌대로212번길 55, 9층 (관양동)
        </p>
        <p>사업자 등록번호: 833-87-02544</p>
        <p>통신 판매 번호: 제 2023-안양동안-0184 호</p>
      </div>
    </div>
    <script src="/static/js/foot.js"></script>
  </body>
</html>
