/* font */
p,
h1,
h5 {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

/* carosel */
.carousel-item {
  max-height: 90vh;
}

.container {
  margin: 100px 0;
  text-align: center;
}

.card {
  border: none !important;
  text-align: center;
}

/* introduce */
.introduce {
  position: relative;
  width: 100%;
  margin: 100px 0;
  z-index: 0;
  height: 100vh;
}

.introduce img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.blur {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0.1)
  );
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* story */
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 100px auto;
  text-align: center;
}

.storyVideo {
  margin-top: 50px;
  width: 100%;
}

.videoSize {
  max-width: 80vw;
}

.storyBtn {
  display: flex;
  width: 150px;
  max-width: 150px;
  height: 30px;
  max-height: 30px;
  padding: 20px 30px;
  margin-top: 35px;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.storyBtn:hover {
  background-color: black;
  color: white;
}

/* product */
.productImg {
  display: flex;
  overflow-x: hidden;
  width: 80vw;
  scroll-behavior: smooth;
}

.scroll-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(118, 118, 118, 0.5);
  border: none;
  border-radius: 50%;
}

.left-btn,
.right-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
}

.left-btn {
  left: 100px;
}

.right-btn {
  right: 100px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.product > h1 {
  margin-bottom: 20px;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.scroll-btn:active {
  border: none;
}

.scroll-btn:focus {
  border: none;
}

.productImg .box {
  flex: 0 0 auto;
  margin-right: 10px;
  scroll-snap-align: start;
  width: 300px;
}

.scroll-btn img {
  max-width: 70%;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.imgBox img {
  max-width: 300px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.textBox h2,
p {
  cursor: pointer;
}

.textBox p {
  margin-top: 10px;
}

.textBox h2 {
  position: relative;
  display: inline-block;
}

.textBox h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #444;
  transition: width 0.3s ease-in-out;
}

.textBox h2:hover::after {
  width: 100%;
}

/* 매장 찾기 구간 */
.findingStore {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}

.storeImg img {
  width: 50%;
}

.storeText {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
